<div class="row">   
    <div class="col-12">
        <img src="../../../assets/Banner.png" class="img-fluid " alt="" id="banner">
    </div>
</div>    
<div class="row rounded-5" id="acercaDe">
    <div class="col-2">
        <img    src="../../../assets/perfil.jpg" class="img-fluid rounded-circle" alt="" id="perfil">
    </div>
    <div class="col-3">
        <br>
        <h3>Lucas Leandro Ferreira</h3>
        <br>
        <h3>Técnico en informática </h3>
    </div>
    <div class="col-7">
        <h1>Acerca de: </h1>
        <span>            
            <p> Lugar de Nacimiento: Posadas Misiones Argentina</p>
            <p> Edad: 31 años</p>            
            
        </span>
    </div>
</div>    
