<div class="row">   
    <div class="col-12">
        <img src="../../../assets/Banner.png" class="img-fluid " alt="" id="banner">
    </div>
</div>    
<div class="row rounded-5" id="acercaDe">
    <div class="col-2">
        <img    src="../../../assets/perfil.jpg" class="img-fluid rounded-circle" alt="" id="perfil">
    </div>
    <div class="col-3">
        <p>Lucas Leandro Ferreira</p>
        <p>Tecnico en informática </p>
    </div>
    <div class="col-7">
        <span>
            <h1>Acerca De: </h1>
            <p> Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías 
                o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
        </span>
    </div>
</div>    
