#banner{
    height: 400px;
    width: 100%;    
}
#acercaDe{
    background-color: lightslategray;
    padding: 20px;    
    border-color: black;
    border-width: 10px;
    margin: 10px;    
}
#perfil{
    height: 300px;
    width: 300px;    
}
#editarPersona{
    height: 30px;
    width: 30px;    
    color: green;
    background-color: lightslategray;
    
}