<div class="footer">
    <div class="enlaces d-flex allign-items-start">
        <a href="https://github.com/FerreiraLucasL" class="float-end"> <i class="fa-brands fa-github" id="enlaces"></i></a>"
        <a href="https://www.linkedin.com/in/lucas-leandro-ferreira-gassmann-292099226/" class="float-end"> <i class="fa-brands fa-linkedin" id="enlaces"></i></a>"        
        <a href="https://wa.me/5493764332569" class="float-end"> <i class="fa-brands fa-whatsapp" id="enlaces"></i></a>"   
    </div>
</div>
