<div class="row " id="header">
    <div class="col-3">
        <img src="../../../assets/LogoAP.png" class="img-fluid float-start" alt="" id="logoap">
    </div>

    <div class="col-9">        
        <button type="button" class="btn btn-outline-light float-end" (click)="login()" 
        *ngIf="!isLogged">Iniciar Sesión</button>
        <button type="button" class="btn btn-outline-light float-end" (click)="onLogOut()"
         *ngIf="isLogged">Cerrar
            Sesión</button>
    </div>
</div>