#header{
    background-color: black;
    height: 100px;
}

#logoap{
    margin-left: 30px;    
    height: 70%;
    width: 50%;
    margin-top: 5px;        
}
#wplogo{
    margin-top: 10px;    
    height: 65%;    
}
img{
    margin: 20px;
    height: 50%;
    width: 5%;
}
button{
    margin: 25px;
}