<div class="row rounded-5" id="educacion">
    <div class="col-3 ">
        <h1>Educación : </h1>
    </div>
    <div class="col-6 ">
        <button type="button" class="btn btn-sucess" data-toggle="modal" data-target="#addEducationModal"> Agregar
            <a class="fa-solid fa-square-plus" style="color:green"  *ngIf="isLogged"> 
            </a>
        </button>
        <br>
    </div>
    <div class="col-7" *ngFor="let edu of educations">
        <ul>
            <br>
            <li>
                
                <h3> {{edu.educacionNombre}}</h3>
                <div class="col text-center">
                    Editar  
                    <a (click)="onOpenModal('edit', edu)" class="btn btn-primary tooltips fa fa-pencil"
                        data-original-title="edit" *ngIf="isLogged"></a>
                    Borrar  
                    <a (click)="onOpenModal('delete', edu)" class="btn btn-danger fa-solid fa-trash"
                        data-original-title="delete" *ngIf="isLogged"> Borrar </a>

                </div>
                <h4> {{edu.educacionLugar}}</h4>
                <h5> Desde: {{edu.educacionAnios}} </h5>
                <h5> Durante: {{edu.educacionTiempo}}</h5>
            </li>
        </ul>
    </div>
</div>

<!-- modal añadir educacion-->
<div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="addEducationModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEducationModalLabel">Agregar educación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
                    <div class="form-group">
                        <label for="educacionNombre">Nombre educación: </label>
                        <input type="text" ngModel name="educacionNombre" class="form-control" id="educacionNombre" 
                        placeholder="Nombre educación: " required>
                    </div>
                    <div class="form-group">
                        <label for="educacionLugar">Lugar educación: </label>
                        <input type="text" ngModel name="educacionLugar" class="form-control" id="educacionLugar" 
                        placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="educacionFecha">Fecha de inicio educación: </label>
                        <input type="text" ngModel name="educacionAnios" class="form-control" id="educacionAnios" 
                        placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="educacionAnios">Duración de la educación: </label>
                        <input type="text" ngModel name="educacionTiempo" class="form-control" id="educacionTiempo" 
                        placeholder="" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-education-form" class="btn btn-secondary" data-dismiss="modal">
                            Cerrar
                        </button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
