<div class="row rounded-5" id="educacion">
    <div class="col-7">
        <span>
            <h1>Educacion</h1>
            <p> Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías 
                o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
        </span>
        <p> Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías 
            o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>            
    
    </div>
</div>    
