<div class="row rounded-5 allign-items" id="habilidades" >
  <h2>Habilidades duras y blandas: </h2>
  <div class="col" *ngFor="let skill of skills">
    <ul>
        <li>
        <circle-progress
          [percent]="skill.valorSkill"
          [radius]="90"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'blue'"
          [innerStrokeColor]="'green'"
          [animation]="true"
          [animationDuration]="500"
          [title]="skill.nombreSkill"      
          [titleFontSize]="'15'"
          [titleColor]="'black'"
          [showSubtitle]="false"
          [imageSrc]="skill.imgSkill"
          [imageHeight]="60"
          [imageWidth]="60"
        >
      </circle-progress>
    </li>
  </ul>
  </div>

</div>
