<div class="row rounded-5" id="proyectos">
    <div class="col-7">
        <span>
            <p class="titulo">Proyecto: </p>
            <h4>Este proyecto fue realizado en los siguientes lenguajes: </h4>
            <ul>
                <li>
                    <h5>Angular 13 (frontEnd), alojado en Firebase</h5>                    
                    
                </li>
                <li>
                    <h5>Java + Springboot, alojado en heroku</h5>
                </li>
                <li>
                    <h5>Base de datos relacional, alojada en Amazon RDS </h5>
                </li>
            </ul>
            
        </span>    
    </div>
</div>    
